.css-o1utbh {
  max-width: 390px;
}

label.css-vcfpfv {
  border-radius: 100%;
  -webkit-transform: none;
  -ms-transform: none;
  transform: rotate(0deg);
  border: 2px solid black;
  background-color: #FFFFFF;
  outline: none;
}
p.css-692fgp{
  border-radius: 5px;
  height: 31px;
}
