@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
.css-o1utbh {
  max-width: 390px;
  margin: 0 auto;
}

label.css-vcfpfv {
  border-radius: 100%;
  -webkit-transform: none;
  -ms-transform: none;
  transform: rotate(0deg);
  border: 2px solid black;
  background-color: #FFFFFF;
  outline: none;
}
p.css-692fgp{
  border-radius: 5px;
  height: 31px;
}
.timeline__title{
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
}
