html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.footer-main {
   display: flex;
   text-decoration: none;
   background-color: #000;
   color:#fff;
}

.link {
  text-decoration: none;
  color: gray;
}

.block-footer {
   display: grid;
   margin: 5%;
}

button {
   margin: 3%;
}

.thisDiv {
   width: 100%;
   height: 900px;
}

.scroll-btn {
   color: white;
}
