.titleMain {
  text-align: center;
  width: 100%;
}
.flexMain {
  display: flex;
}
.director {
  display: inline-block;
  width: 10%;
}

.director__container{
   margin-top: 30px;
   padding: 2px;
}

.director__container:hover{
   transform: scale(1.01);
   -webkit-transition: 1s ease-in-out;
   -moz-transition: 1s ease-in-out;
   -o-transition: 1s ease-in-out;
   transition: 1s ease-in-out;

}
.about {
  width: 90%;
  padding: 3%;
}
@media (max-width: 999px){
   .hide{
    display:none;
   }
  .about {
    width: 100%;
    padding: 3%;
    font-size: 1rem;
  }
}
