.worklogButton{
   width: 80%;
   height: 60px;
   background-color: black;
   color: white;
   font-style: antialiased;
   letter-spacing: .2em;
}
.worklogButton:hover{
   background-color: #2c2c2c;
   transition: 1s;
}

.table {
   width: 80%;
   height: 100%;
   margin:0;
   color :#282828;
}

.toggle{
   width: 80%;
   margin-left: 17.5%;
   margin-right: 17.5%;
   margin-top: 4%;
   margin-bottom: 4%;
}

th{
   background-color: black;
   color:white;
}

.icon-img{
   width:28px;
   margin-right: 10px;

}

th,td {
   text-align: center;
}

@media (max-width: 620px){
   .worklogButton,table{
      font-size: 14px;
   }
}

@media (max-width: 500px){
   table{
      font-size: 12px;
   }
}

@media (max-width: 460px){
   .worklogButton,table{
      font-size: 10px;
   }
}

@media (max-width: 360px){
   table{
      font-size: 8px;
   }
}

@media (max-width: 330px){
   table{
      font-size: 7px;
   }
}
