.nav-item {
  color: #999999;
  margin-right: 1.3rem;
  text-decoration: none;
}

.nav-item:hover {
  color: #666666;
}

.active-nav-item {
  color: #333333;
}

.header {
  padding: 1rem 0 3rem;
  background-color: whitesmoke;
}
.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
}